body	{
	background-color: #708090;
	}
h1 	{
	text-align: center;
	line-height: 200px;
	background-color: grey;
	width: auto;
	height: 200px;
	font-family: Georgia, serif;
	font-size: 60px;
	margin-top: 0px;
    	margin-bottom: 0px
	}
h2 	{ 
	text-align: center;
	background-color: grey;
	width: auto;
	height: 40px;
	font-family: Georgia, serif;
	font-size: 25px;
	margin-top: 0px;
    	margin-bottom: 0px;
	color: #A9A9A9
	}
p1 	{ 
	display: block;
	width: 600px;
	height: auto;
	margin-top: 10px;
	float: left;
	font-family: Georgia, serif;
	padding-left: 200px;
	padding-right: 200px;
	padding-bottom: 50px;
	font-size: 20px;
	padding-top: 50px;
	background-color: #8FBC8F
	}
#image1 {
	float: right;
	max-width: 46.6%;
	height: auto;
	padding-top: 10px;
	}
a:link	{
	text-decoration: none;
	}
#image2 {
	float: left;
	width: 200px;
	height: 200px;
	padding-left: 130px;
   	padding-right: 20px;
	background-color: #708090;
	padding-top: 40px
	}
#image3 {
	width: 200px;
	height: 200px;
	padding-left: 220px;
	padding-top: 40px;
	background-color: #708090;
	padding-right: 230px
	}
#ref1	{
	font-size: 10px;
	color: white
	}
#ref2	{
	font-size: 10px;
	color: white
	}
div	{
	font-size: 10px;
	background-color: #708090;
	color: white
	}
p2	{
	padding-left: 30px;
	padding-right: 7px;
	font-family: Georgia, serif;
	font-size: 40px;
	margin-right: 0px;
	background-color: #708090
	}
p3	{
	padding-left: 220px;
	font-family: Georgia, serif;
	font-size: 40px;
	padding-right: 257px;
	margin-left: 0px;
	background-color: #708090
	}
#linebreak	{
	height: 50px;
	width: 1000px;
	background-color: #708090
	}
#worklink	{
	color: black;
	}
#Navbar	{
 	list-style-type: none;
  	margin: 0;
  	padding: 0;
	border: 2px solid #555
	}
h1a	{
	text-align: center;
	line-height: 200px;
	background-color: grey;
	width: auto;
	height: 200px;
	font-family: Georgia, serif;
	font-size: 60px;
	margin-top: 0px;
    	margin-bottom: 0px;
    	padding-left: 120px;
    	padding-right: 120px;
	}
h3	{
	font-size: 20px;
	padding-left: 100px;
	font-family: Georgia, serif;
	}
p4	{
	font-family: Georgia, serif;
	font-size: 15px;
	width: 600px;
	}
#op1	{
	color: black;
	width: 800px;
	margin-right: 0px;
	float: left;
	font-family: Georgia, serif;
	font-size: 15px;
	margin-bottom: 20px;
	margin-left: 100px;
	}
#op2	{
	color: black;
	width: 800px;
	margin-right: 0px;
	float: left;
	font-family: Georgia, serif;
	font-size: 15px;
	margin-left: 100px;
	margin-bottom: 110px;
	}
#Homebutton	{
	float: right;
	font-family: Georgia, serif;
	font-size: 40px;
	padding-right: 200px;
	color: black;
	background-color: grey;
	margin-top: 80px;
	}
#parks	{
	float: right;
	width: 500px;
	height: 400px;
	padding-left: 130px;
    	padding-right: 300px;
	margin-bottom: 10px;
	}
h4	{
	font-size: 20px;
	padding-left: 100px;
	text-align: left;
	padding-right: 1000px;
	font-family: Georgia, serif;
	}
#tree1	{
	color: black;
	width: 800px;
	margin-right: 0px;
	float: left;
	font-family: Georgia, serif;
	font-size: 15px;
	margin-bottom: 20px;
	margin-left: 100px;
	}
#Treeplant	{
	float: right;
	width: 500px;
	height: 500px;
	padding-left: 130px;
    	padding-right: 300px;
	margin-bottom: 10px;
	}
#Forestry	{
	float: right;
	width: 700px;
	height: 500px;
    	padding-right: 130px;
	margin-bottom: 10px;
	}
#Forestry2	{
	width: 1000px;
	height: 800px;
	float: centre;
	padding-left: 400px
}
